.formacion__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 368px;
    height: 347px;
    
}
.formacion__item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 388px;
    height: 286px;
    background: #FFFFFF;
    margin: 0px;
}

.formacion__item-img{
    width: 192px;
    height: 210px;
    background: url(/img/UNALMnew.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formacion__item-alura{
    width: 192px;
    height: 192px;
    background: url(/img/alura.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formacion__item-titulo{
    width: 420px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.formacion__item-parrafo{
    width: 92px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;

}
