.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    gap: 82px;
    width: 1440px;
    height: 581px;
    background: #EAF2FD;
    margin: 0 auto;
}