.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 80px;
    width: 1136px;
    height: 368px;
    margin: 0 auto;
}